.hero_statement {
    color: white;
      display: block;
      position: absolute;
      top: 30%;
      left: 50%;
      width: 50%;
      margin-top: 0%;
      margin-left: -25%;
      text-align: center;
  }
  
  .hero_statement h1 {
      font-size: 90px;
    text-align: center;
  }
  
  .hero_statement h4 {
    font-size: 60px;
    text-align: center;
  }
  