
/*=============================================
=            RESET            =
=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
  list-style-type: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0968A1;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}


/*=====  End of RESET  ======*/





a {
  color: white;
  text-decoration: none;
}
#wrapper {
    margin:auto;
    max-height: 500px;
  }






/*=============================================
=            HERO SECTION            =
=============================================*/








/*=====  End of HERO SECTION  ======*/



/*=============================================
=            NAVIGATION            =
=============================================*/

.nav {
  margin: 3em 0 0 3em;
}

.nav_button {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 50;
  padding: 10px;
  -webkit-transition-duration: 5s; /* Safari */
    transition-duration: 5s;
  background: #1e90ff;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.nav_page {
    top: 18%;
    left: 38.5%;
}

.nav_menu {
  font-size: 45px;
  text-align: center;
  margin: 27px 0 15px 0;
  color: white;
}



/*=====  End of NAVIGATION  ======*/




/*=============================================
=            ABOUT SECTION            =
=============================================*/


.about_page {
  top: -3%;
  left: 2%;
}

.about_body p {
  font-size: 30px;
  line-height: 125%;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 42px;
}
.about_title {
margin-bottom: 6%;
}
.about_body h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 30px;
}


/*=====  End of ABOUT SECTION  ======*/



/*=============================================
=            WORK SECTION            =
=============================================*/

.work_page {
    top: 6%;
    width: 100%;
    left: -1.5%;
}

.work_title h1 {
    font-size: 70px;
    text-align: center;
    padding: 3% 0 1% 0;
    color: white;
}

.work_body {
    display: inline-flex;
    text-align: center;
    padding: 0;
}

.work_list {
    display: block;
    font-size: 40px;
    text-align: center;
    margin: 0 10px;
}



.work_list h3 {
  margin-bottom: 2%;
}

.personal_items {
  width: 103%;
  display: block;
  font-size: 20px;
  text-align: center;
}
.professional {
  font-size: 40px;
  color: white;
  padding: 10px 0 0 40px;
  margin: 0 -5px 0 0;
}

.personal {
  color: white;
  font-size: 40px;
  padding: 10px 40px 0 20px;
  margin: 0 0 0 20px;
}

.work_description {
  margin: 3% 0 0 15%;
  width: 70%;
  font-size: 20px;
  position: fixed;
}

/*=====  End of WORK SECTION  ======*/





.social {
  display: inline;
}

.altcoin_details {
  display: none;
}

.tripplanner_details {
  display: none;
}

.steelys_details {
  display: none;
}

.shmabble_details {
  display: none;
}

.atmosphere_details {
  display: none;
}

.eco_details {
  display: none;
}

.work_item {
  text-decoration: none;
   font-size: 0.5em;
}

a.work_item {
  color: white;
  display: none;
}

.tripplanner_details {
  display: none;
}

/*EDUCATION*/




li.nav_menu a:before {
margin-top: 1.1em;
}




/*=============================================
=            SOCIAL ICONS            =
=============================================*/



/*=====  End of SOCIAL ICONS  ======*/



.connect_page {
    top: 20%;
    left: 29.5%;
}

.social {
    font-size: 45px;
  color: white;
  padding: 10px 40px 0 40px;
  margin: 0 20px 0 0;
  display: block;
}



.work_item {
  line-height: 30px;
}




/*=============================================
=            MANIPULATION VARIABLES            =
=============================================*/



/*----------  HIDE  ----------*/


.showDiv {
  display: block;
}



/*----------  SHOW  ----------*/


li.hoverDiv a {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

li.hoverDiv a:hover {
  color: #fff;
}

li.hoverDiv a:before {
  content: "";
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

li.hoverDiv a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
a.hoverDiv {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

a.hoverDiv:hover {
  color: #fff;
}

a.hoverDiv:before {
  content: "";
  position: absolute;
  margin-top: 1.3em;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

a.hoverDiv:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
li.hoverDivLG a {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

li.hoverDivLG a:hover {
  color: #fff;
}

li.hoverDivLG a:before {
  content: "";
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

li.hoverDivLG a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
span.hoverDiv {
  position:relative;
  text-transform: normal;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
}

span.hoverDiv:hover {
  color: #fff;
}

span.hoverDiv:before {
  content: "";
  position: absolute;
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

span.hoverDiv:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}


/*=====  End of MANIPULATION VARIABLES  ======*/

